div.sqs-image,
div.list-item-media-inner {
  border: 7px solid #3dace2;
}

@media only screen and (350px <= width <=767px) {
  div.fe-66270d5e4c79106585f83cf8 {
    grid-template-rows: repeat(33, minmax(24px, auto));
  }

  main.container div.content-wrapper {
    padding-top: 20px !important;
  }

  div.SjqwTPRTwx0cMu05qqhb:has(div.country-select) {
    display: none !important;
  }

  div.fe-block-db5e2ba6de7a11ef1ff0 {
    grid-column-end: 6;
  }

  div.fe-block-568569bcab1e304e0117 {
    grid-column-start: 7;
  }

  div.fe-block-720afe80e5e200368801 {
    grid-row-start: 7;
  }

  div.fe-block-e109a283facbefe2ca01,
  div.fe-block-3fef241b557fcb6e9def,
  div.fe-block-d06d821e68d6f1bdc8f3 {
    display: none;
  }
}