/* START IMAGES */
/* Border color (Blue) */
div.sqs-image,
div.list-item-media-inner {
    border: 7px solid #3DACE2;
}
/* END Border color (Blue) */
/* END IMAGES */

div.list-item-content h2 {
    max-width: 100% !important;
}

/* START RESPONSIVENESS */
@media only screen and (350px <= width <= 528px) {
    div.fe-660dd85628143b34e09c29e5 {
        grid-template-rows: repeat(18, minmax(24px, auto));
    }

    div.fe-block-yui_3_17_2_1_1712098578293_31337 {
        grid-row-start: 2;
    }

    div.fe-block-yui_3_17_2_1_1712098578293_33104 {
        grid-row-start: 13;
        grid-column-start: 2;
        grid-row-end: 23;
        grid-column-end: 10;
    }
}

@media only screen and (529px <= width <= 362px) {
    div.fe-660dd85628143b34e09c29e5 {
        grid-template-rows: repeat(14, minmax(24px, auto));
    }

    div.fe-block-yui_3_17_2_1_1712098578293_31337 {
        grid-row-start: 2;
    }

    div.fe-block-yui_3_17_2_1_1712098578293_33104 {
        display:none;   
    }
}
/* END RESPONSIVENESS */