/* START IMAGES */
/* Border color (Blue) */
div.sqs-image {
  border: 7px solid #3dace2;
}

/* END Border color (Blue) */
/* END IMAGES */

/* START RESPONSIVENESS */
@media only screen and (350px <= width <= 767px) {
  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-start: 23;
  }

  div.fe-block-7f7f913b89ddd7af2313 {
    display: none;
  }

  @media (350px <= width <= 431px) {
    main.container div.content-wrapper {
      padding-top: 3.5vmax !important;
      padding-bottom: 1.5vmax !important;
    }
  }

  @media (432px <= width) {
    main.container div.content-wrapper {
      padding-top: 3.5vmax !important;
      padding-bottom: 0.0 !important;
    }
  }
}

@media only screen and (350px <= width <= 406px) {
  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(132, minmax(24px, auto));
  }
}

@media only screen and (407px <= width <= 414px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 125;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(132, minmax(24px, auto));
  }
}

@media only screen and (415px <= width <= 421px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 123;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(132, minmax(24px, auto));
  }
}

@media only screen and (422px <= width <= 431px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 120;
    grid-row-end: 128;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(127, minmax(24px, auto));
  }
}

@media only screen and (432px <= width <= 440px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 118;
    grid-row-end: 126;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(125, minmax(24px, auto));
  }
}

@media only screen and (441px <= width <= 445px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 117;
    grid-row-end: 125;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(124, minmax(24px, auto));
  }
}

@media only screen and (441px <= width <= 502px) {
  div.fe-block-yui_3_17_2_1_1713752715152_24858 {
    grid-row-end: 15;
  }

  .fe-block-yui_3_17_2_1_1713752715152_33439 {
    grid-row-start: 15 !important;
  }
}

@media only screen and (446px <= width <= 453px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 115;
    grid-row-end: 125;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(124, minmax(24px, auto));
  }
}

@media only screen and (454px <= width <= 465px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 113;
    grid-row-end: 122;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(121, minmax(24px, auto));
  }
}

@media only screen and (466px <= width <= 502px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 111;
    grid-row-end: 122;
  }

  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 123;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(119, minmax(24px, auto));
  }
}

@media only screen and (503px <= width <= 549px) {
  div.fe-block-yui_3_17_2_1_1713752715152_24858 {
    grid-row-end: 14 !important;
  }

  div.fe-block-yui_3_17_2_1_1713752715152_33439 {
    grid-row-start: 14 !important;
  }

  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 108;
  }
}

@media only screen and (503px <= width <= 509px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 108;
    grid-row-end: 118;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(117, minmax(24px, auto));
  }
}

@media only screen and (510px <= width <= 531px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 107;
    grid-row-end: 117;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(116, minmax(24px, auto));
  }
}

@media only screen and (532px <= width <= 549px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 106;
    grid-row-end: 116;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(116, minmax(24px, auto));
  }
}

@media only screen and (550px <= width <= 560px) {
  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 105;
    grid-row-end: 115;
  }

  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 105;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(115, minmax(24px, auto));
  }
}

@media only screen and (561px <= width <= 579px) {
  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 103;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 103;
    grid-row-end: 113;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(113, minmax(24px, auto));
  }
}

@media only screen and (550px <= width <= 753px) {
  div.fe-block-yui_3_17_2_1_1713752715152_24858 {
    grid-row-end: 12 !important;
  }

  div.fe-block-yui_3_17_2_1_1713752715152_33439 {
    grid-row-start: 12 !important;
  }
}

@media only screen and (580px <= width <= 584px) {
  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 101;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 101;
    grid-row-end: 111;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(111, minmax(24px, auto));
  }
}

@media only screen and (585px <= width <= 625px) {
  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 99;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 99;
    grid-row-end: 109;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(109, minmax(24px, auto));
  }
}

@media only screen and (626px <= width <= 639px) {
  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 97;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 97;
    grid-row-end: 107;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(107, minmax(24px, auto));
  }
}

@media only screen and (640px <= width <= 721px) {
  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 95;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 95;
    grid-row-end: 105;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(105, minmax(24px, auto));
  }
}

@media only screen and (722px <= width <= 753px) {
  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 93;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 93;
    grid-row-end: 105;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(105, minmax(24px, auto));
  }
}

@media only screen and (754px <= width <= 767px) {
  div.fe-block-yui_3_17_2_1_1713752715152_24858 {
    grid-row-end: 11 !important;
  }

  div.fe-block-yui_3_17_2_1_1713752715152_33439 {
    grid-row-start: 11 !important;
  }

  div.fe-block-537a0ad8586cffc50ba8 {
    grid-row-end: 91;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 91;
    grid-row-end: 104;
  }

  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(104, minmax(24px, auto));
  }
}

@media only screen and (768px <= width <= 825px) {
  div.fe-block-7f7f913b89ddd7af2313 {
    grid-row-start: 42;
    grid-row-end: 47;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 51;
    grid-column-start: 19;
    grid-row-end: 59;
  }
}

@media only screen and (826px <= width <= 900px) {
  div.fe-block-7f7f913b89ddd7af2313 {
    grid-row-start: 50;
    grid-column-start: 18;
    grid-row-end: 55;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 54;
    grid-column-start: 21;
    grid-row-end: 60;
    z-index: 5;
  }
}

@media only screen and (901px <= width <= 975px) {
  div.fe-block-7f7f913b89ddd7af2313 {
    grid-row-start: 49;
    grid-column-start: 17;
    grid-row-end: 55;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 54;
    grid-column-start: 20;
    grid-row-end: 61;
  }
}

@media only screen and (768px <= width) {
  main.container div.content-wrapper {
    padding-top: 3.5vmax !important;
    padding-bottom: 0 !important;
  }
}

@media only screen and (1014px <= width) {
  div.fluid-engine.fe-6625ce716795507316650dbb {
    grid-template-rows: repeat(67, minmax(24px, auto));
  }
}

@media only screen and (976px <= width <= 1013px) {
  div.fe-block-7f7f913b89ddd7af2313 {
    grid-row-start: 50;
    grid-column-start: 16;
    grid-row-end: 56;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 42;
    grid-column-start: 20;
    grid-row-end: 51;
  }
}

@media only screen and (1014px <= width <= 1040px) {
  div.fe-block-7f7f913b89ddd7af2313 {
    grid-row-start: 48;
    grid-column-start: 16;
    grid-row-end: 54;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 41;
    grid-column-start: 20;
    grid-row-end: 49;
  }
}

@media only screen and (1041px <= width <= 1078px) {
  div.fe-block-7f7f913b89ddd7af2313 {
    grid-row-start: 47;
    grid-column-start: 16;
    grid-row-end: 53;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 40;
    grid-column-start: 20;
    grid-row-end: 48;
  }
}

@media only screen and (1079px <= width <= 2700px) {
  div.fe-block-7f7f913b89ddd7af2313 {
    grid-row-start: 46;
    grid-column-start: 16;
    grid-row-end: 52;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 39;
    grid-column-start: 20;
    grid-row-end: 47;
  }
}

@media only screen and (2701px <= width) {
  div.fe-block-7f7f913b89ddd7af2313 {
    grid-row-start: 45;
    grid-column-start: 15;
    grid-row-end: 52;
  }

  div.fe-block-ffb83870b91a66cc40c8 {
    grid-row-start: 37;
    grid-column-start: 19;
    grid-row-end: 46;
  }
}
/* END RESPONSIVENESS */