/* START IMAGES */
/* Border color (Blue) */
div.sqs-image,
div.list-item-media-inner {
  border: 7px solid #3dace2;
}
/* END Border color (Blue) */
/* END IMAGES */

/* START RESPONSIVENESS */
@media only screen and (350px <= width ) {
  main.container div.content-wrapper {
    padding-top: 1.5vmax !important;
    padding-bottom: 0vmax !important;
  }
}

@media only screen and (350px <= width <= 614px) {
  div.fluid-engine {
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(9, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}

@media only screen and (350px <= width <= 471px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }


  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 120 !important;
    grid-row-end: 126;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 127;
    grid-row-end: 133;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(132, minmax(24px, auto));
  }
}

@media only screen and (472px <= width <= 480px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 119 !important;
    grid-row-end: 125;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 126;
    grid-row-end: 132;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(131, minmax(24px, auto));
  }
}

@media only screen and (481px <= width <= 483px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 118 !important;
    grid-row-end: 124;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 125;
    grid-row-end: 131;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(130, minmax(24px, auto));
  }
}

@media only screen and (484px <= width <= 488px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 117 !important;
    grid-row-end: 123;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 124;
    grid-row-end: 130;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(129, minmax(24px, auto));
  }
}

@media only screen and (489px <= width <= 502px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 115 !important;
    grid-row-end: 121;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 122;
    grid-row-end: 128;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(127, minmax(24px, auto));
  }
}

@media only screen and (503px <= width <= 532px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 114 !important;
    grid-row-end: 120;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 121;
    grid-row-end: 127;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(126, minmax(24px, auto));
  }
}

@media only screen and (533px <= width <= 536px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 113 !important;
    grid-row-end: 119;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 120;
    grid-row-end: 126;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(125, minmax(24px, auto));
  }
}

@media only screen and (537px <= width <= 539px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 111 !important;
    grid-row-end: 117;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 118;
    grid-row-end: 124;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(123, minmax(24px, auto));
  }
}

@media only screen and (540px <= width <= 567px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 109 !important;
    grid-row-end: 115;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 116;
    grid-row-end: 122;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(121, minmax(24px, auto));
  }
}

@media only screen and (568px <= width <= 571px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 13;
    grid-row-end: 22;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 23;
    grid-row-end: 118;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 108 !important;
    grid-row-end: 115;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 116;
    grid-row-end: 123;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(122, minmax(24px, auto));
  }
}

@media only screen and (572px <= width <= 580px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 12;
    grid-row-end: 20;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 21;
    grid-row-end: 105;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 105 !important;
    grid-row-end: 113;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 114;
    grid-row-end: 122;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(122, minmax(24px, auto));
  }
}

@media only screen and (581px <= width <= 614px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 12;
    grid-row-end: 20;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 21;
    grid-row-end: 104;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 104 !important;
    grid-row-end: 112;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 113;
    grid-row-end: 121;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(121, minmax(24px, auto));
  }
}

@media only screen and (615px <= width <= 626px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 11;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 11;
    grid-row-end: 21;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 22;
    grid-row-end: 97;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 97 !important;
    grid-row-end: 106;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 107;
    grid-row-end: 116;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(118, minmax(24px, auto));
  }
}

@media only screen and (627px <= width <= 664px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 11;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 11;
    grid-row-end: 21;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 22;
    grid-row-end: 96;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 96 !important;
    grid-row-end: 105;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 106;
    grid-row-end: 115;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(115, minmax(24px, auto));
  }
}

@media only screen and (665px <= width <= 673px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 10;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 10;
    grid-row-end: 20;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 21;
    grid-row-end: 93;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 93 !important;
    grid-row-end: 102;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 103;
    grid-row-end: 112;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(112, minmax(24px, auto));
  }
}

@media only screen and (674px <= width <= 690px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 10;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 10;
    grid-row-end: 20;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 21;
    grid-row-end: 91;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 91 !important;
    grid-row-end: 100;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 101;
    grid-row-end: 110;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(110, minmax(24px, auto));
  }
}

@media only screen and (691px <= width <= 700px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 10;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 10;
    grid-row-end: 20;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 21;
    grid-row-end: 90;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 90 !important;
    grid-row-end: 99;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 100;
    grid-row-end: 109;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(109, minmax(24px, auto));
  }
}

@media only screen and (701px <= width <= 729px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 10;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 10;
    grid-row-end: 20;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 21;
    grid-row-end: 89;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 89 !important;
    grid-row-end: 98;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 99;
    grid-row-end: 108;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(108, minmax(24px, auto));
  }
}

@media only screen and (730px <= width <= 734px) {
  div.fe-block-yui_3_17_2_1_1713752715152_94622 {
    grid-row-start: 1;
    grid-row-end: 10;
  }

  div.fe-block-940b6919c1f8c832506d {
    grid-row-start: 10;
    grid-row-end: 20;
  }

  div.fe-block-68c0f14fc1d6d7b6c86b {
    grid-row-start: 21;
    grid-row-end: 88;
  }

  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-row-start: 88 !important;
    grid-row-end: 97;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 98;
    grid-row-end: 107;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(107, minmax(24px, auto));
  }
}

@media only screen and (768px <= width <= 825px) {
  div.fe-block-4e9f7e53097f9d1aa20d,
  div.fe-block-035d387819f33396d791 {
    display: none;
  }
}

@media only screen and (826px <= width <= 842px) {
  div.fe-block-4e9f7e53097f9d1aa20d {
    display: none;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 43;
    grid-column-start: 16;
    grid-row-end: 49;
  }
}

@media only screen and (843px <= width <= 900px) {
  div.fe-block-4e9f7e53097f9d1aa20d {
    display: none;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 49;
    grid-column-start: 18;
    grid-row-end: 59;
  }
}

@media only screen and (901px <= width <= 927px) {
  div.fe-block-4e9f7e53097f9d1aa20d {
    display: none;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 48;
    grid-column-start: 18;
    grid-row-end: 59;
  }
}

@media only screen and (928px <= width <= 981px) {
  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-column-start: 16;
    grid-row-end: 57;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 42;
    grid-column-start: 21;
  }
}

@media only screen and (982px <= width <= 1106px) {
  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-column-start: 16;
    grid-row-end: 57;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 42;
    grid-column-start: 20;
  }
}

@media only screen and (1107px <= width) {
  div.fe-block-4e9f7e53097f9d1aa20d {
    grid-column-start: 15;
    grid-row-end: 54;
    grid-row-start: 47;
  }

  div.fe-block-035d387819f33396d791 {
    grid-row-start: 39;
    grid-column-start: 20;
    grid-row-end: 48;
  }

  div.fe-662866958e0d293382bbeeef {
    grid-template-rows: repeat(66, minmax(24px, auto));
  }
}
/* END RESPONSIVENESS */